@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}